<h2><%= @todo.title%></h2>

  <div class="text-right">
    <%= link "Edit", to: Routes.todo_path(@conn, :edit, @todo.id), class: "btn btn-link" %>
    <%= link "Delete", to: Routes.todo_path(@conn, :delete, @todo), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
  </div>

